[submodule "data/journal"]
	path = data/journal
	url = https://github.com/quanttide/quanttide-journal-of-business-development.git
[submodule "apps/qtcloud-business"]
	path = apps/qtcloud-business
	url = https://github.com/quanttide/qtcloud-business.git
[submodule "data/context"]
	path = data/context
	url = https://github.com/quanttide/quanttide-context-of-business-development.git
[submodule "apps/qtdata"]
	path = apps/qtdata
	url = https://github.com/quanttide/qtdata.git
[submodule "data/profile"]
	path = data/profile
	url = https://github.com/quanttide/quanttide-profile-of-business-development.git
[submodule "apps/qtbusiness"]
	path = apps/qtbusiness
	url = https://github.com/quanttide/qtbusiness.git
